<!DOCTYPE html>
<html class="no-js">
{% include 'head.html' %}

<body id="body">
    {% include 'header.html' %}

    <!-- hero area -->
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center mb-5 mb-md-0">
                    <img src="{{ url_for('static', filename='images/drone.jpg') }}" alt="">
                </div>
                <div class="col-md-6 align-self-center text-center text-md-left">
                    <div class="block">
                        <h1 class="font-weight-bold mb-4 font-size-60">Search.<br> Organize.<br> Support.</h1>
                        <p class="mb-4">A peer-to-peer drone platform to help our community in times of need</p>
                        <a class="btn btn-main" href="volunteer" role="button">Help Out Now!</a>
                        <a class="btn btn-main" href="helpMe" role="button">Help Me!</a>
                    </div>
                </div>
            </div><!-- .row close -->
        </div><!-- .container close -->
    </section><!-- header close -->
    {% include 'footer.html' %}
</body>
</html>