<!DOCTYPE html>
<html class="no-js">
<head>
    <!-- Add references to the Azure Maps Map control JavaScript and CSS files. -->
    <link rel="stylesheet" href="https://atlas.microsoft.com/sdk/javascript/mapcontrol/2/atlas.min.css" type="text/css">
    <script src="https://atlas.microsoft.com/sdk/javascript/mapcontrol/2/atlas.min.js"></script>

    <style>
        html, body {
            margin: 0;
        }

        #myMap {
            height: 100vh;
            width: 100vw;
        }
    </style>
</head>
{% include 'head.html' %}

<body>
    <p hidden id='posts'>{{ posts }}</p>
    {% include 'header.html' %}
    <div style="margin: 20px">
        <div class="container">
            <div class="row">
                <div id="myMap" class="col-md-8 mb-5 mb-md-0"> </div>
                <div class="col-md-4 text-center align-self-center">
                    <form method="POST">
                        <div>
                            <p class="headers">Zip Code:</p>
                            <input id="zipCode" name="zipCode" oninput="showSubmitBtn()">
                        </div>
                        <br>
                        <div>
                            <button class="submitBtn" type="submit" value="Submit">Filter</button>
                        </div>
                    </form>
                </div>
            </div><!-- .row close -->
        </div><!-- .container close -->
    </div><!-- header close -->
    <script type="text/javascript">
        //Create an instance of the map control and set some options.
        var map = new atlas.Map('myMap', {
            center: [-97.743590, 30.285830],
            zoom: 13,
            language: 'en-US',
            authOptions: {
                authType: 'subscriptionKey',
                subscriptionKey: 'Iuygs_ANd0cj_WCgNIPaa_STbPnJyBY3cWnV2p7yZek'
            }
        });

        var posts = document.getElementById("posts").textContent;
        //Wait until the map resources are ready.
        map.events.add('ready', function () {
            var pins = JSON.parse(posts);
        pins.forEach(function (pin) {
            //Create a HTML marker and add it to the map.
            var marker = new atlas.HtmlMarker({
                color: 'DodgerBlue',
                text: pin.text,
                position: [pin.long, pin.lat],
                popup: new atlas.Popup({
                    content: '<div style="padding:10px">' + pin.message + '</div>',
                    pixelOffset: [0, -30]
                })
            });

            map.markers.add(marker);
            //Add a click event to toggle the popup.
            map.events.add('click',marker, () => {
                marker.togglePopup();
            });
        });
            // //Create a HTML marker and add it to the map.
            // var marker = new atlas.HtmlMarker({
            //     color: 'DodgerBlue',
            //     text: '10',
            //     position: [-97.743591, 30.285830],
            //     popup: new atlas.Popup({
            //         content: '<div style="padding:10px">Hi!!</div>',
            //         pixelOffset: [0, -30]
            //     })
            // });

            // //Create a HTML marker and add it to the map.
            // var marker2 = new atlas.HtmlMarker({
            //     color: 'DodgerBlue',
            //     text: '10',
            //     position: [-97.743591, 30.28111],
            //     popup: new atlas.Popup({
            //         content: '<div style="padding:10px">Hi2!!</div>',
            //         pixelOffset: [0, -30]
            //     })
            // });

            // map.markers.add(marker);
            // map.markers.add(marker2);


            // //Add a click event to toggle the popup.
            // map.events.add('click',marker, () => {
            //     marker.togglePopup();
            // });

            // map.events.add('click',marker2, () => {
            //     marker2.togglePopup();
            // });
        });
    </script>
    
    {% include 'footer.html' %}

</body>

</html>